<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring framework Looking Good Baby</title>
</head>
<body>
<h1>Book list</h1>

<table>
    <tr>
        <th>Authors</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Spring in action Baby</td>
        <td th:text="${author.lastName}">Wrox</td>
    </tr>
</table>

</body>
</html>